In [1]:
# Install QC library
#!pip uninstall -y ioos_qc
#!pip install git+git://github.com/ioos/ioos_qc.git

# # Alternative installation (install specific branch):
# !pip uninstall -y ioos_qc
# !pip install git+git://github.com/ioos/ioos_qc.git@BRANCHNAME

# Alternative installation (run with local updates):
#!pip uninstall -y ioos_qc
import sys
from pathlib import Path
basedir = Path().absolute()
libdir = basedir.parent.parent.parent.parent
sys.path.append(str(libdir))

## Setup the Config

In [2]:
from ioos_qc.config import Config

config = """
    contexts:
        -   window:
                starting: 2020-01-01T00:00:00Z
                ending: 2020-02-01T00:00:00Z
            streams:
                variable1:
                    qartod:
                        aggregate:
                        gross_range_test:
                            suspect_span: [3, 4]
                            fail_span: [2, 5]
                variable2:
                    qartod:
                        aggregate:
                        gross_range_test:
                            suspect_span: [23, 24]
                            fail_span: [22, 25]
        -   window:
                starting: 2020-02-01T00:00:00Z
                ending: 2020-03-01T00:00:00Z
            streams:
                variable1:
                    qartod:
                        aggregate:
                        gross_range_test:
                            suspect_span: [43, 44]
                            fail_span: [42, 45]
                variable2:
                    qartod:
                        aggregate:
                        gross_range_test:
                            suspect_span: [23, 24]
                            fail_span: [22, 25]
"""
c = Config(config)
c.config

OrderedDict([('contexts',
              [{'window': {'starting': datetime.datetime(2020, 1, 1, 0, 0),
                 'ending': datetime.datetime(2020, 2, 1, 0, 0)},
                'streams': {'variable1': {'qartod': {'aggregate': None,
                   'gross_range_test': {'suspect_span': [3, 4],
                    'fail_span': [2, 5]}}},
                 'variable2': {'qartod': {'aggregate': None,
                   'gross_range_test': {'suspect_span': [23, 24],
                    'fail_span': [22, 25]}}}}},
               {'window': {'starting': datetime.datetime(2020, 2, 1, 0, 0),
                 'ending': datetime.datetime(2020, 3, 1, 0, 0)},
                'streams': {'variable1': {'qartod': {'aggregate': None,
                   'gross_range_test': {'suspect_span': [43, 44],
                    'fail_span': [42, 45]}}},
                 'variable2': {'qartod': {'aggregate': None,
                   'gross_range_test': {'suspect_span': [23, 24],
                    'fail_span': [22, 25]}}}}}])])

## Setup the sample data

In [3]:
import numpy as np
import pandas as pd

rows = 50
tinp = pd.date_range(start='01/01/2020', periods=rows, freq='D').values
inp1 = np.arange(0, tinp.size)
inp2 = np.arange(0, tinp.size)
zinp = np.full_like(tinp, 2.0, dtype=np.float32)
lat = np.full_like(tinp, 36.1, dtype=np.float32)
lon = np.full_like(tinp, -76.5, dtype=np.float32)

df = pd.DataFrame({
    'time': tinp,
    'z': zinp,
    'lat': lat,
    'lon': lon,
    'variable1': inp1,
    'variable2': inp2
})
df

         time    z        lat   lon  variable1  variable2
0  2020-01-01  2.0  36.099998 -76.5          0          0
1  2020-01-02  2.0  36.099998 -76.5          1          1
2  2020-01-03  2.0  36.099998 -76.5          2          2
3  2020-01-04  2.0  36.099998 -76.5          3          3
4  2020-01-05  2.0  36.099998 -76.5          4          4
5  2020-01-06  2.0  36.099998 -76.5          5          5
6  2020-01-07  2.0  36.099998 -76.5          6          6
7  2020-01-08  2.0  36.099998 -76.5          7          7
8  2020-01-09  2.0  36.099998 -76.5          8          8
9  2020-01-10  2.0  36.099998 -76.5          9          9
10 2020-01-11  2.0  36.099998 -76.5         10         10
11 2020-01-12  2.0  36.099998 -76.5         11         11
12 2020-01-13  2.0  36.099998 -76.5         12         12
13 2020-01-14  2.0  36.099998 -76.5         13         13
14 2020-01-15  2.0  36.099998 -76.5         14         14
15 2020-01-16  2.0  36.099998 -76.5         15         15
16 2020-01-17  2.0  36.099998 -76.5         16         16
17 2020-01-18  2.0  36.099998 -76.5         17         17
18 2020-01-19  2.0  36.099998 -76.5         18         18
19 2020-01-20  2.0  36.099998 -76.5         19         19
20 2020-01-21  2.0  36.099998 -76.5         20         20
21 2020-01-22  2.0  36.099998 -76.5         21         21
22 2020-01-23  2.0  36.099998 -76.5         22         22
23 2020-01-24  2.0  36.099998 -76.5         23         23
24 2020-01-25  2.0  36.099998 -76.5         24         24
25 2020-01-26  2.0  36.099998 -76.5         25         25
26 2020-01-27  2.0  36.099998 -76.5         26         26
27 2020-01-28  2.0  36.099998 -76.5         27         27
28 2020-01-29  2.0  36.099998 -76.5         28         28
29 2020-01-30  2.0  36.099998 -76.5         29         29
30 2020-01-31  2.0  36.099998 -76.5         30         30
31 2020-02-01  2.0  36.099998 -76.5         31         31
32 2020-02-02  2.0  36.099998 -76.5         32         32
33 2020-02-03  2.0  36.099998 -76.5         33         33
34 2020-02-04  2.0  36.099998 -76.5         34         34
35 2020-02-05  2.0  36.099998 -76.5         35         35
36 2020-02-06  2.0  36.099998 -76.5         36         36
37 2020-02-07  2.0  36.099998 -76.5         37         37
38 2020-02-08  2.0  36.099998 -76.5         38         38
39 2020-02-09  2.0  36.099998 -76.5         39         39
40 2020-02-10  2.0  36.099998 -76.5         40         40
41 2020-02-11  2.0  36.099998 -76.5         41         41
42 2020-02-12  2.0  36.099998 -76.5         42         42
43 2020-02-13  2.0  36.099998 -76.5         43         43
44 2020-02-14  2.0  36.099998 -76.5         44         44
45 2020-02-15  2.0  36.099998 -76.5         45         45
46 2020-02-16  2.0  36.099998 -76.5         46         46
47 2020-02-17  2.0  36.099998 -76.5         47         47
48 2020-02-18  2.0  36.099998 -76.5         48         48
49 2020-02-19  2.0  36.099998 -76.5         49         49

## Setup the NumpyStream

In [4]:
from ioos_qc.streams import PandasStream

ps = PandasStream(df)
ps

## Run the PandasStream through the Config

In [5]:
results = ps.run(c)
results

defaultdict(<function ioos_qc.streams.PandasStream.run.<locals>.<lambda>()>,
            {'variable1': defaultdict(collections.OrderedDict,
                         {'qartod': OrderedDict([('gross_range_test',
                                        0     4
                                        1     4
                                        2     3
                                        3     1
                                        4     1
                                        5     3
                                        6     4
                                        7     4
                                        8     4
                                        9     4
                                        10    4
                                        11    4
                                        12    4
                                        13    4
                                        14    4
                                        15    4
                                        16    4
                                        17    4
                                        18    4
                                        19    4
                                        20    4
                                        21    4
                                        22    4
                                        23    4
                                        24    4
                                        25    4
                                        26    4
                                        27    4
                                        28    4
                                        29    4
                                        30    4
                                        31    4
                                        32    4
                                        33    4
                                        34    4
                                        35    4
                                        36    4
                                        37    4
                                        38    4
                                        39    4
                                        40    4
                                        41    4
                                        42    3
                                        43    1
                                        44    1
                                        45    3
                                        46    4
                                        47    4
                                        48    4
                                        49    4
                                        dtype: uint8),
                                       ('aggregate',
                                        0     4
                                        1     4
                                        2     3
                                        3     1
                                        4     1
                                        5     3
                                        6     4
                                        7     4
                                        8     4
                                        9     4
                                        10    4
                                        11    4
                                        12    4
                                        13    4
                                        14    4
                                        15    4
                                        16    4
                                        17    4
                                        18    4
                                        19    4
                                        20    4
                                        21    4
                                        22    4
                                        23    4
                                        24    4
                                        25    4
                                        26    4
                                        27    4
                                        28    4
                                        29    4
                                        30    4
                                        31    4
                                        32    4
                                        33    4
                                        34    4
                                        35    4
                                        36    4
                                        37    4
                                        38    4
                                        39    4
                                        40    4
                                        41    4
                                        42    3
                                        43    1
                                        44    1
                                        45    3
                                        46    4
                                        47    4
                                        48    4
                                        49    4
                                        dtype: uint8)])}),
             'variable2': defaultdict(collections.OrderedDict,
                         {'qartod': OrderedDict([('gross_range_test',
                                        0     4
                                        1     4
                                        2     4
                                        3     4
                                        4     4
                                        5     4
                                        6     4
                                        7     4
                                        8     4
                                        9     4
                                        10    4
                                        11    4
                                        12    4
                                        13    4
                                        14    4
                                        15    4
                                        16    4
                                        17    4
                                        18    4
                                        19    4
                                        20    4
                                        21    4
                                        22    3
                                        23    1
                                        24    1
                                        25    3
                                        26    4
                                        27    4
                                        28    4
                                        29    4
                                        30    4
                                        31    4
                                        32    4
                                        33    4
                                        34    4
                                        35    4
                                        36    4
                                        37    4
                                        38    4
                                        39    4
                                        40    4
                                        41    4
                                        42    4
                                        43    4
                                        44    4
                                        45    4
                                        46    4
                                        47    4
                                        48    4
                                        49    4
                                        dtype: uint8),
                                       ('aggregate',
                                        0     4
                                        1     4
                                        2     4
                                        3     4
                                        4     4
                                        5     4
                                        6     4
                                        7     4
                                        8     4
                                        9     4
                                        10    4
                                        11    4
                                        12    4
                                        13    4
                                        14    4
                                        15    4
                                        16    4
                                        17    4
                                        18    4
                                        19    4
                                        20    4
                                        21    4
                                        22    3
                                        23    1
                                        24    1
                                        25    3
                                        26    4
                                        27    4
                                        28    4
                                        29    4
                                        30    4
                                        31    4
                                        32    4
                                        33    4
                                        34    4
                                        35    4
                                        36    4
                                        37    4
                                        38    4
                                        39    4
                                        40    4
                                        41    4
                                        42    4
                                        43    4
                                        44    4
                                        45    4
                                        46    4
                                        47    4
                                        48    4
                                        49    4
                                        dtype: uint8)])})})